{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="overlay-menu-mobie">
    <div class="close-btn">
      <span class="close-menus"></span>
    </div>
  </div>
  <div style="padding: 50px 50px 50px 50px; min-height:100vh;">
    <h3>Cookie Policy</h3>
    <div style="height:20px;"></div>
    <h5 style="margin:30px 0 10px 0;">1. Introduction</h5>
    <p style="padding-left:10px;">This Cookie Policy explains how we use cookies and similar tracking technologies on our website. By using our website, you consent to our use of cookies as described in this policy.
    </p>
    <h5 style="margin:30px 0 10px 0;">2. What Are Cookies?</h5>
    <p style="padding-left:10px;">Cookies are small text files that are placed on your device (computer, smartphone, tablet) when you visit a website. They help websites function properly, enhance user experience, and provide information to the website owners.
    </p>
    <h5 style="margin:30px 0 10px 0;">3. Types of Cookies</h5>
    <p style="padding-left:10px;">
      <span style="font-weight:600">- We Use Essential Cookies:
      </span>These cookies are necessary for the website to function properly and cannot be switched off in our systems. They are usually set in response to actions you take, such as logging in or filling out forms.
    </p>
    <p style="padding-left:10px;">
      <span style="font-weight:600">- Performance Cookies:
      </span>These cookies collect information about how visitors use our website, such as which pages are most frequently visited. This helps us improve the performance and design of our site.</p>
    <p style="padding-left:10px;">
      <span style="font-weight:600">- Functional Cookies:
      </span>These cookies allow the website to provide enhanced functionality and personalization. They may be set by us or by third-party providers whose services we have added to our pages.</p>
    <p style="padding-left:10px;">
      <span style="font-weight:600">- Targeting Cookies:
      </span>These cookies may be set through our site by our advertising partners. They are used to build a profile of your interests and show you relevant advertisements on other sites.
    </p>
    <h5 style="margin:30px 0 10px 0;">4. How to Manage Cookies
    </h5>
    <p style="padding-left:10px;">You can manage or delete cookies at any time through your browser settings. For more details on how to control cookies, visit your browser's help page. Please note that disabling cookies may affect your experience on our website.
    </p>
    <h5 style="margin:30px 0 10px 0;">5. Third-Party Cookies
    </h5>
    <p style="padding-left:10px;">We may use third-party cookies for analytics, advertising, or other services. These third-party providers have their own cookie policies, and we encourage you to review them.
    </p>
    <h5 style="margin:30px 0 10px 0;">6. Changes to This Policy</h5>
    <p style="padding-left:10px;">We may update this Cookie Policy from time to time. Any changes will be posted on this page, and your continued use of our website after such changes have been made constitutes acceptance of those changes.</p>
    <h5 style="margin:30px 0 10px 0;">7. Contact Us
    </h5>
    <p style="padding-left:10px;">If you have any questions about our Cookie Policy, please contact us at sterun@joollab.com.</p>
  </div>
{% endblock content %}
