<!-- Shoes Size Modal start -->
<div class="modal fade" style="z-index:1000000;" id="ShoesSizeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header" style="background-color: var(--primary);">
        <h5 class="modal-title" id="exampleModalLabel">Shoes Size Info</h5>
        <button type="button" data-bs-dismiss="modal" style="background-color: transparent; font-weight: 500; font-size: 1.3rem;" aria-label="Close">X</button>
      </div>
      <div class="modal-body">
        <table class="table" style="border:solid gery 1px; text-align:center;">
          <thead>
            <tr>
              <th scope="col" colspan="2">KR(mm)</th>
              <td scope="col">220</td>
              <td scope="col">225</td>
              <td scope="col">230</td>
              <td scope="col">235</td>
              <td scope="col">240</td>
              <td scope="col">245</td>
              <td scope="col">250</td>
              <td scope="col">255</td>
              <td scope="col">260</td>
              <td scope="col">265</td>
              <td scope="col">270</td>
              <td scope="col">275</td>
              <td scope="col">280</td>
              <td scope="col">285</td>
              <td scope="col">290</td>
              <td scope="col">299</td>
              <td scope="col">300</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row" colspan="2">JP(cm)</th>
              <td>22</td>
              <td>22.5</td>
              <td>23</td>
              <td>23.5</td>
              <td>24</td>
              <td>24.5</td>
              <td>25</td>
              <td>25.5</td>
              <td>26</td>
              <td>26.5</td>
              <td>27</td>
              <td>27.5</td>
              <td>28</td>
              <td>28.5</td>
              <td>29</td>
              <td>29.5</td>
              <td>30</td>
            </tr>
            <tr>
              <th scope="row" rowspan="2">International</th>
              <th scope="row">Male</th>
              <td>-</td>
              <td>-</td>
              <td colspan="2">XXXS</td>
              <td colspan="2">XXS</td>
              <td colspan="2">XS</td>
              <td colspan="2">S</td>
              <td colspan="2">M</td>
              <td colspan="2">L</td>
              <td colspan="2">XL</td>
              <td>XXL</td>
            </tr>
            <tr>
              <th scope="row">Femail</th>
              <td colspan="2">XXXS</td>
              <td colspan="2">XXS</td>
              <td colspan="2">XS</td>
              <td colspan="2">S</td>
              <td colspan="2">M</td>
              <td colspan="2">L</td>
              <td colspan="2">XL</td>
              <td colspan="2">XXL</td>
              <td>-</td>
            </tr>
            <tr>
              <th scope="row" rowspan="2">US</th>
              <th scope="row">Male</th>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>6</td>
              <td>6.5</td>
              <td>7</td>
              <td>7.5</td>
              <td>8</td>
              <td>8.5</td>
              <td>9</td>
              <td>9.5</td>
              <td>10</td>
              <td>10.5</td>
              <td>11</td>
              <td>11.5</td>
              <td>12</td>
            </tr>
            <tr>
              <th scope="row">Femail</th>
              <td>5</td>
              <td>5.5</td>
              <td>6</td>
              <td>6.5</td>
              <td>7</td>
              <td>7.5</td>
              <td>8</td>
              <td>8.5</td>
              <td>9</td>
              <td>9.5</td>
              <td>10</td>
              <td>10.5</td>
              <td>11</td>
              <td>11.5</td>
              <td>12</td>
              <td>12.5</td>
              <td>13</td>
            </tr>
            <tr>
              <th scope="row" rowspan="2">UK</th>
              <th scope="row">Male</th>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>5</td>
              <td>-</td>
              <td>6</td>
              <td>-</td>
              <td>7</td>
              <td>7.5</td>
              <td>8</td>
              <td>8.5</td>
              <td>9</td>
              <td>9.5</td>
              <td>10</td>
              <td>10.5</td>
              <td>11</td>
            </tr>
            <tr>
              <th scope="row">Femail</th>
              <td>3</td>
              <td>3.5</td>
              <td>4</td>
              <td>4.5</td>
              <td>5</td>
              <td>5.5</td>
              <td>6</td>
              <td>6.5</td>
              <td>7</td>
              <td>7.5</td>
              <td>8</td>
              <td>8.5</td>
              <td>9</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
            </tr>
            <tr>
              <th scope="row" rowspan="2">EU</th>
              <th scope="row">Male</th>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>38</td>
              <td>-</td>
              <td>39</td>
              <td>-</td>
              <td>40.5</td>
              <td>41</td>
              <td>42</td>
              <td>42.5</td>
              <td>43</td>
              <td>44</td>
              <td>44.5</td>
              <td>45.5</td>
              <td>46</td>
            </tr>
            <tr>
              <th scope="row">Femail</th>
              <td>36</td>
              <td>36.5</td>
              <td>37</td>
              <td>37.5</td>
              <td>38</td>
              <td>38.5</td>
              <td>39</td>
              <td>39.5</td>
              <td>40</td>
              <td>40.5</td>
              <td>41</td>
              <td>41.5</td>
              <td>42</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="overlay-menu-mobie">
  <div class="close-btn">
    <span class="close-menus"></span>
  </div>
</div>
<!-- Shoes Size Modal end -->
<!-- Top Size Modal start -->
<div class="modal fade" style="z-index:1000000;" id="TopSizeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header" style="background-color: var(--primary);">
        <h5 class="modal-title" id="exampleModalLabel">Top Size Info</h5>
        <button type="button" data-bs-dismiss="modal" style="background-color: transparent; font-weight: 500; font-size: 1.3rem;" aria-label="Close">X</button>
      </div>
      <div class="modal-body">
        <h4 style="margin-bottom:10px;">MAN</h4>
        <table class="table" style="border:solid gery 1px; text-align:center;">
          <thead>
            <tr>
              <th scope="col">Category</th>
              <th scope="col">KO</th>
              <th scope="col" colspan="2">US</th>
              <th scope="col">UK</th>
              <th scope="col" colspan="2">JP</th>
              <th scope="col">FR</th>
              <th scope="col">EU</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">XS</th>
              <td>85</td>
              <td>85-90</td>
              <td>14</td>
              <td>0</td>
              <td>S</td>
              <td>36</td>
              <td>40</td>
              <td>44-46</td>
            </tr>
            <tr>
              <th scope="row">S</th>
              <td>90</td>
              <td>90-95</td>
              <td>15</td>
              <td>1</td>
              <td>M</td>
              <td>38</td>
              <td>42,44</td>
              <td>46</td>
            </tr>
            <tr>
              <th scope="row">M</th>
              <td>95</td>
              <td>95-100</td>
              <td>15.5-16</td>
              <td>2</td>
              <td>L</td>
              <td>40</td>
              <td>46,48</td>
              <td>48</td>
            </tr>
            <tr>
              <th scope="row">L</th>
              <td>100</td>
              <td>100-105</td>
              <td>16.5</td>
              <td>3</td>
              <td>LL,XL</td>
              <td>42</td>
              <td>50,52</td>
              <td>50</td>
            </tr>
            <tr>
              <th scope="row">XL</th>
              <td>105</td>
              <td>105-110</td>
              <td>17.5</td>
              <td>4</td>
              <td>-</td>
              <td>44</td>
              <td>54,56,58</td>
              <td>52</td>
            </tr>
            <tr>
              <th scope="row">XXL</th>
              <td>110</td>
              <td>110-</td>
              <td>-</td>
              <td>5</td>
              <td>-</td>
              <td>46</td>
              <td>60,62</td>
              <td>54</td>
            </tr>
          </tbody>
        </table>
        <h4 style="margin-bottom:10px;">WOMAN</h4>
        <table class="table" style="border:solid gery 1px; text-align:center;">
          <thead>
            <tr>
              <th scope="col">Category</th>
              <th scope="col">KO</th>
              <th scope="col">US</th>
              <th scope="col">JP</th>
              <th scope="col">UK,AU</th>
              <th scope="col">FR</th>
              <th scope="col">IT</th>
              <th scope="col">EU</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">XS</th>
              <td>44(85)</td>
              <td>2</td>
              <td>44</td>
              <td>4-6</td>
              <td>34</td>
              <td>80</td>
              <td>34</td>
            </tr>
            <tr>
              <th scope="row">S</th>
              <td>55(90)</td>
              <td>4</td>
              <td>55</td>
              <td>8-10</td>
              <td>36,44</td>
              <td>90</td>
              <td>36</td>
            </tr>
            <tr>
              <th scope="row">M</th>
              <td>66(95)</td>
              <td>6</td>
              <td>66</td>
              <td>10-12</td>
              <td>38,48</td>
              <td>95</td>
              <td>38</td>
            </tr>
            <tr>
              <th scope="row">L</th>
              <td>77(100)</td>
              <td>8</td>
              <td>77</td>
              <td>16-18</td>
              <td>40,42</td>
              <td>100</td>
              <td>40</td>
            </tr>
            <tr>
              <th scope="row">XL</th>
              <td>88(105)</td>
              <td>10</td>
              <td>88L</td>
              <td>20-22</td>
              <td>44,46,48</td>
              <td>105</td>
              <td>42</td>
            </tr>
            <tr>
              <th scope="row">XXL</th>
              <td>110</td>
              <td>12</td>
              <td>-</td>
              <td>-</td>
              <td>50,52,54</td>
              <td>110</td>
              <td>44</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="overlay-menu-mobie">
  <div class="close-btn">
    <span class="close-menus"></span>
  </div>
</div>
<!-- Top Size Modal end -->
<!-- Bottom Size Modal start -->
<div class="modal fade" style="z-index:1000000;" id="BottomSizeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header" style="background-color: var(--primary);">
        <h5 class="modal-title" id="exampleModalLabel">Bottom Size Info</h5>
        <button type="button" data-bs-dismiss="modal" style="background-color: transparent; font-weight: 500; font-size: 1.3rem;" aria-label="Close">X</button>
      </div>
      <div class="modal-body">
        <h4 style="margin-bottom:10px;">MAN</h4>
        <table class="table" style="border:solid gery 1px; text-align:center;">
          <thead>
            <tr>
              <th scope="col">SIZE</th>
              <th scope="col">XXS</th>
              <th scope="col">XS</th>
              <th scope="col">S</th>
              <th scope="col">M</th>
              <th scope="col">L</th>
              <th scope="col">XL</th>
              <th scope="col">2XL</th>
              <th scope="col">3XL</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">WAIST(cm)</th>
              <td><67</td>
              <td>67-73
              </td>
              <td>73-79</td>
              <td>79-85</td>
              <td>85-91</td>
              <td>91-97</td>
              <td>97-104</td>
              <td>104-112</td>
            </tr>
            <tr>
              <th scope="row">HIP(cm)</th>
              <td><81.5</td>
              <td>81.5-86.5
              </td>
              <td>86.5-91.5</td>
              <td>91.5-96.6</td>
              <td>96.5-101.5</td>
              <td>101.5-106.5</td>
              <td>106.5-112</td>
              <td>112-118</td>
            </tr>
          </tbody>
        </table>
        <h4 style="margin-bottom:10px;">WOMAN</h4>
        <table class="table" style="border:solid gery 1px; text-align:center;">
          <thead>
            <tr>
              <th scope="col">SIZE</th>
              <th scope="col">XXS</th>
              <th scope="col">XS</th>
              <th scope="col">S</th>
              <th scope="col">M</th>
              <th scope="col">L</th>
              <th scope="col">XL</th>
              <th scope="col">2XL</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">KO SIZE(cm)</th>
              <td>-</td>
              <td>60</td>
              <td>65</td>
              <td>70</td>
              <td>75</td>
              <td>80</td>
              <td>85</td>
            </tr>
            <tr>
              <th scope="row">WAIST(cm)</th>
              <td>62.5-65.5</td>
              <td>65.5-68.5</td>
              <td>68.5-71.5</td>
              <td>71.5-75.5</td>
              <td>75.5-80.5</td>
              <td>80.5-85.5</td>
              <td>85.5-90.5</td>
            </tr>
            <tr>
              <th scope="row">HIP(cm)</th>
              <td>83.5-86.5</td>
              <td>86.5-89.5</td>
              <td>89.5-92.5</td>
              <td>92.5-96.5</td>
              <td>96.5-101.5</td>
              <td>101.5-106.5</td>
              <td>106.5-111.5</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="overlay-menu-mobie">
  <div class="close-btn">
    <span class="close-menus"></span>
  </div>
</div>
<!-- Bottom Size Modal end -->

<!-- tacs start -->
<div class="modal fade" style="z-index:1000000;" id="tacs" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header" style="background-color: var(--primary);">
        <h5 class="modal-title" id="exampleModalLabel">Terms And Conditions</h5>
        <button type="button" data-bs-dismiss="modal" style="background-color: transparent; font-weight: 500; font-size: 1.3rem;" aria-label="Close">X</button>
      </div>
      <div class="modal-body">
        <h4>Privacy Policy</h4>
        <h5>1. Purpose of Processing Personal Information</h5>
        <p>
          ('www.sterun.kr' hereinafter referred to as 'Joollab') processes personal information for the following purposes and does not use it for any other purpose.
        </p>
        <p>
          Confirmation of customer's intention to sign up, identification and authentication of the customer for the provision of services, maintenance and management of membership, payment for goods or services, supply and delivery of goods or services, etc.
        </p>
        <h5>2. Period of Processing and Retention of Personal Information</h5>
        <p>
          'Joollab' processes and retains personal information within the period of personal information retention and use agreed upon when collecting personal information from the information subject or within the period prescribed by law.
        </p>
        <p>
          The specific periods of processing and retention of personal information are as follows. Please refer to the examples below and provide the processing tasks for personal information, retention period, relevant laws, and grounds.
        </p>
        <p>- Records on consumer complaints or dispute resolution: 3 years</p>
        <p>- Records on the collection, processing, and use of credit information: 3 years</p>
        <p>- Records on payment and supply of goods: 5 years</p>
        <p>- Records on contracts or withdrawal of subscriptions: 5 years</p>
        <h5>3. Rights and Obligations of Information Subjects and Legal Representatives and How to Exercise Them</h5>
        <p>As personal information subjects, users can exercise the following rights:</p>
        <p>
          The information subject can exercise the following personal information protection rights at any time against 'Joollab.'
        </p>
        <p>- Request to view personal information</p>
        <p>- Request for correction if there are errors</p>
        <p>- Request for deletion</p>
        <p>- Request to stop processing</p>
        <h5>4. Items of Personal Information Processed</h5>
        <p>'Joollab' processes the following personal information items:</p>
        <p>
          - Processed items: Accommodations address, password, gender, date of birth, name, email address, messenger ID, etc.
        </p>
        <h5>5. Destruction of Personal Information</h5>
        <p>
          In principle, 'Joollab' destroys personal information without delay when the purpose of processing personal information is achieved. The procedures, deadlines, and methods of destruction are as follows.
        </p>
        <p>
          - Destruction procedure: Information entered by the user is transferred to a separate DB (in the case of paper, a separate document) after the purpose is achieved and stored for a certain period according to internal policies and other relevant laws or destroyed immediately. In this case, the personal information transferred to the DB is not used for other purposes unless required by law.
        </p>
        <p>
          - Destruction deadline: The user's personal information is destroyed within five days from the end date of the retention period if the retention period has expired, or within five days from the date when the personal information becomes unnecessary due to the achievement of the processing purpose, the termination of the service, or the end of the business.
        </p>
        <h5>6. Matters Concerning the Installation, Operation, and Rejection of Automatic Personal Information Collection Devices</h5>
        <p>
          SDS Tech Co., Ltd. does not use 'cookies' that store and retrieve the user's information from time to time.
        </p>
        <h5>7. Personal Information Protection Officer</h5>
        <p>
          'Joollab' is responsible for the overall management of personal information processing tasks and has designated a personal information protection officer to handle complaints and remedy damages related to personal information processing.
        </p>
        <p>- Department: Joollab Operations Support Team</p>
        <p>- Person in charge: Hyunwoo Kim</p>
        <p>- Contact: 010-9241-9007, jasonkim@joollab.com</p>
        <p>
          - Information subjects can contact the personal information protection officer and the relevant department for all personal information protection inquiries, complaints, and damage relief arising from using Joollab's services (or business). 'Joollab' will respond and handle the inquiries without delay.
        </p>
        <h5>8. Changes to the Privacy Policy</h5>
        <p>
          This privacy policy applies from the effective date, and any additions, deletions, or corrections of changes in accordance with laws and policies will be notified through the notice seven days before the implementation of the changes.
        </p>
        <div style="height:50px;"></div>
        <h4>Refund Policy</h4>
        <h6>
          1. If the customer cancels a reservation according to ‘JoolLab’s [Reservation and Cancellation] policy, JoolLab must refund the full service fee.
        </h6>
        <p>
          1) The reservation and cancellation must be completed at least 24 hours prior to the time of starting of rental period.
        </p>
        <p>2) However, weekends and public holidays are not included in the 24-hour calculation.</p>
        <h6>
          2. If it becomes difficult to provide the service normally due to force majeure such as natural disasters, war, or terrorism, JoolLab may unilaterally cancel or change the user's reservation.
        </h6>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="overlay-menu-mobie">
  <div class="close-btn">
    <span class="close-menus"></span>
  </div>
</div>
<!-- tacs Modal end -->