{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="overlay-menu-mobie">
    <div class="close-btn">
      <span class="close-menus"></span>
    </div>
  </div>
  <div style="padding: 50px 50px 50px 50px; min-height:100vh;">
    <h3>Privacy Policy</h3>
    <h5 style="margin:30px 0 10px 0;">1. Purpose of Processing Personal Information</h5>
    <p style="padding-left:10px;">
      ('www.sterun.kr' hereinafter referred to as 'Joollab') processes personal information for the following purposes and does not use it for any other purpose.
    </p>
    <p style="padding-left:10px;">
      Confirmation of customer's intention to sign up, identification and authentication of the customer for the provision of services, maintenance and management of membership, payment for goods or services, supply and delivery of goods or services, etc.
    </p>
    <h5 style="margin:30px 0 10px 0;">2. Period of Processing and Retention of Personal Information</h5>
    <p style="padding-left:10px;">
      'Joollab' processes and retains personal information within the period of personal information retention and use agreed upon when collecting personal information from the information subject or within the period prescribed by law.
    </p>
    <p style="padding-left:10px;">
      The specific periods of processing and retention of personal information are as follows. Please refer to the examples below and provide the processing tasks for personal information, retention period, relevant laws, and grounds.
    </p>
    <p style="padding-left:10px;">- Records on consumer complaints or dispute resolution: 3 years</p>
    <p style="padding-left:10px;">- Records on the collection, processing, and use of credit information: 3 years</p>
    <p style="padding-left:10px;">- Records on payment and supply of goods: 5 years</p>
    <p style="padding-left:10px;">- Records on contracts or withdrawal of subscriptions: 5 years</p>
    <h5 style="margin:30px 0 10px 0;">3. Rights and Obligations of Information Subjects and Legal Representatives and How to Exercise Them</h5>
    <p style="padding-left:10px;">As personal information subjects, users can exercise the following rights:</p>
    <p style="padding-left:10px;">
      The information subject can exercise the following personal information protection rights at any time against 'Joollab.'
    </p>
    <p style="padding-left:10px;">- Request to view personal information</p>
    <p style="padding-left:10px;">- Request for correction if there are errors</p>
    <p style="padding-left:10px;">- Request for deletion</p>
    <p style="padding-left:10px;">- Request to stop processing</p>
    <h5 style="margin:30px 0 10px 0;">4. Items of Personal Information Processed</h5>
    <p style="padding-left:10px;">'Joollab' processes the following personal information items:</p>
    <p style="padding-left:10px;">
      - Processed items: Accommodations address, password, gender, date of birth, name, email address, messenger ID, etc.
    </p>
    <h5 style="margin:30px 0 10px 0;">5. Destruction of Personal Information</h5>
    <p style="padding-left:10px;">
      In principle, 'Joollab' destroys personal information without delay when the purpose of processing personal information is achieved. The procedures, deadlines, and methods of destruction are as follows.
    </p>
    <p style="padding-left:10px;">
      - Destruction procedure: Information entered by the user is transferred to a separate DB (in the case of paper, a separate document) after the purpose is achieved and stored for a certain period according to internal policies and other relevant laws or destroyed immediately. In this case, the personal information transferred to the DB is not used for other purposes unless required by law.
    </p>
    <p style="padding-left:10px;">
      - Destruction deadline: The user's personal information is destroyed within five days from the end date of the retention period if the retention period has expired, or within five days from the date when the personal information becomes unnecessary due to the achievement of the processing purpose, the termination of the service, or the end of the business.
    </p>
    <h5 style="margin:30px 0 10px 0;">6. Matters Concerning the Installation, Operation, and Rejection of Automatic Personal Information Collection Devices</h5>
    <p style="padding-left:10px;">
      'Joollab' does not use 'cookies' that store and retrieve the user's information from time to time.
    </p>
    <h5 style="margin:30px 0 10px 0;">7. Personal Information Protection Officer</h5>
    <p style="padding-left:10px;">
      'Joollab' is responsible for the overall management of personal information processing tasks and has designated a personal information protection officer to handle complaints and remedy damages related to personal information processing.
    </p>
    <p style="padding-left:10px;">- Department: Joollab Operations Support Team</p>
    <p style="padding-left:10px;">- Person in charge: Hyunwoo Kim</p>
    <p style="padding-left:10px;">- Contact: 010-9241-9007, jasonkim@joollab.com</p>
    <p style="padding-left:10px;">
      - Information subjects can contact the personal information protection officer and the relevant department for all personal information protection inquiries, complaints, and damage relief arising from using Joollab's services (or business). 'Joollab' will respond and handle the inquiries without delay.
    </p>
    <h5 style="margin:30px 0 10px 0;">8. Changes to the Privacy Policy</h5>
    <p style="padding-left:10px;">
      This privacy policy applies from the effective date, and any additions, deletions, or corrections of changes in accordance with laws and policies will be notified through the notice seven days before the implementation of the changes.
    </p>
  </div>
{% endblock content %}
