{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="overlay-menu-mobie">
    <div class="close-btn">
      <span class="close-menus"></span>
    </div>
  </div>
  <div style="padding: 50px 50px 50px 50px; min-height:100vh;">
    <h3>Terms and Conditions</h3>
    <h5 style="margin:30px 0 10px 0;">Article 1 (Purpose)</h5>
    <p style="padding-left:10px;">These Terms of Use aim to define the rights, obligations, and responsibilities between the company (Joollab, hereinafter referred to as "the Company") and users in relation to the use of the services provided by the Company.</p>

    <h5 style="margin:30px 0 10px 0;">Article 2 (Definitions)</h5>
    <p style="padding-left:10px;">1. "Service" refers to the running gear rental and related services provided by the Company.</p>
    <p style="padding-left:10px;">2. "User" means any member or non-member who accesses the Company's service and receives the services provided by the Company in accordance with these Terms of Use.</p>
    <p style="padding-left:10px;">3. "Member" refers to a person who has registered by providing personal information to the Company and can continuously use the services provided by the Company.</p>
    <p style="padding-left:10px;">4. "Non-member" refers to a person who uses the services provided by the Company without registering as a member.</p>
    <h5 style="margin:30px 0 10px 0;">Article 3 (Effect and Modification of the Terms)</h5>
    <p style="padding-left:10px;">1. These Terms of Use take effect when posted on the service screen or notified to users by other means.</p>
    <p style="padding-left:10px;">2. The Company may change these Terms of Use to the extent that it does not violate related laws, and any changes will be announced by indicating the effective date and reason for the changes alongside the current Terms of Use on the service screen.</p>
    <p style="padding-left:10px;">3. Users have the right to reject the modified Terms of Use. If users do not agree to the modified terms, they can stop using the service and terminate the use agreement. If users continue to use the service after the effective date of the modified terms, they are deemed to have agreed to the changes.</p>
    <h5 style="margin:30px 0 10px 0;">Article 4 (Provision and Modification of Services)</h5>
    <p style="padding-left:10px;">1. The Company provides users with the following services:</p>
    <p style="padding-left:10px;">- Running gear rental service</p>
    <p style="padding-left:10px;">- Any other services developed or provided by the Company through additional development or partnership agreements with other companies</p>
    <p style="padding-left:10px;">2. The Company may change the contents of the services provided due to technical specification changes, and the modified services and the date of provision will be announced.</p>
    <h5 style="margin:30px 0 10px 0;">Article 5 (Service Usage Fee)</h5>
    <p style="padding-left:10px;">1. Fees related to the use of the service shall be paid through PayPal as per the policy set by the Company.</p>
    <p style="padding-left:10px;">2. Users must pay the fees determined by the Company before using the service.</p>
    <p style="padding-left:10px;">3. Detailed matters related to fees, such as refund policies, shall comply with the Company's payment and refund policies.</p>
    <h5 style="margin:30px 0 10px 0;">Article 6 (Obligations of Users)</h5>
    <p style="padding-left:10px;">1. When using the service, users shall not engage in the following acts:</p>
    <p style="padding-left:10px;">- Registering false information during application or modification</p>
    <p style="padding-left:10px;">- Unauthorized use of another person’s information</p>
    <p style="padding-left:10px;">- Modifying information posted by the Company</p>
    <p style="padding-left:10px;">- Transmitting or posting information other than that specified by the Company (e.g., computer programs)</p>
    <p style="padding-left:10px;">- Engaging in any other illegal or unfair activities</p>
    <p style="padding-left:10px;">2. Users shall comply with the relevant laws, the provisions of these Terms, and any precautions announced by the Company concerning the service.</p>
    <h5 style="margin:30px 0 10px 0;">Article 7 (Obligations of the Company)</h5>
    <p style="padding-left:10px;">The Company shall strive to protect users' personal information so that they can safely use the service.</p>
    <p style="padding-left:10px;">The Company shall make continuous efforts to provide stable services and comply with relevant laws.</p>
    <h5 style="margin:30px 0 10px 0;">Article 8 (Protection of Personal Information)</h5>
    <p style="padding-left:10px;">The Company complies with the relevant laws to protect users' personal information.</p>
    <p style="padding-left:10px;">The Company only collects the minimum amount of personal information necessary to provide the service, and the collected information shall not be provided to third parties without the user's consent.</p>
    <h5 style="margin:30px 0 10px 0;">Article 9 (Compensation for Damages)</h5>
    <p style="padding-left:10px;">The Company shall not be liable for damages incurred by users in connection with the use of the service, except in cases of damages caused by the Company’s intentional or gross negligence.</p>
    <p style="padding-left:10px;">Users shall be liable for damages caused to the Company due to their violation of these Terms.</p>
    <h5 style="margin:30px 0 10px 0;">Article 10 (Disclaimer)</h5>
    <p style="padding-left:10px;">The Company shall be exempted from responsibility if it cannot provide services due to force majeure reasons such as natural disasters, wars, terrorism, hacking, power outages, or communication network failures.</p>
    <p style="padding-left:10px;">The Company shall not be responsible for any service use impediment caused by the user's fault.</p>
    <h5 style="margin:30px 0 10px 0;">Article 11 (Dispute Resolution)</h5>
    <p style="padding-left:10px;">If a legal dispute arises between the Company and the user, the court with jurisdiction over the Company's principal office shall be the competent court.</p>
  </div>
{% endblock content %}
