{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="{% static 'img/icon/favicon.png' %}"/>
    <link rel="icon" href="{% static 'img/sterun_icon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sterna.css' %}"/>

    <title>STERUN-ADMIN</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.0.0/css/bootstrap-datetimepicker.min.css" rel="stylesheet"/>
    <style>
      tr th {
        border: solid 1px grey;
      }

      tr td {
        border: solid 1px grey;
      }
    </style>
  </head>

  <body>
    {% if user.is_staff %}
      <div class="tocenter">
        <div class="flex-row" style="width:100%; margin: 30px 0 20px 0; justify-content:space-around;">
          <div style="width:10px;"></div>
          <div>
            <p>전체 데이터</p>
          </div>
          <div class="flex-row">
            <a style="border:solid 1px; font-size:0.8rem; padding:2px;" href="{% url "community:index" %}">Go home</a>
            <div style="width:20px;"></div>
            <a style="border:solid 1px; font-size:0.8rem; padding:2px;" href="{% url "community:rental_items" %}">Reservation</a>
          </div>
        </div>
      </div>

      <div>
        <table border="1px solid black" bordercolor="green" style="font-size:0.6rem; width:100%;">
          <tr style="background-color:black; color:white;">
            <th scope="col" style="width:30px; text-align:center">수정</th>
            <th scope="col" style="width:30px; text-align:center">종료여부</th>
            <th scope="col">상태</th>
            <th scope="col">예약번호</th>
            <th scope="col">예약자</th>
            <th scope="col">연락처</th>
            <th scope="col">렌트시작날짜</th>
            <th scope="col">렌트종료날짜</th>
            <th scope="col">상의</th>
            <th scope="col">하의</th>
            <th scope="col">운동화</th>
            <th scope="col">가방</th>
            <th scope="col">배송</th>
            <th scope="col">배송장소</th>
            <th scope="col">아이템 가격</th>
            <th scope="col">이벤트</th>
            <th scope="col">이벤트날짜</th>
            <th scope="col">이벤트시간</th>
            <th scope="col">설명</th>
            <th scop="com">삭제</th>
          </tr>
          {% for data in reservation %}
            <tr>
              <td style="width:30px; text-align:center">
                <a href="{% url "rental:update" data.pk %}">
                  <button>수정</button>
                </a>
              </td>
              {% if data.completed == True %}
                <td style="color:white; font-weight:bold; background-color:grey; text-align:center;">완료</td>
              {% else %}
                <td style="color:green; font-weight:bold; text-align:center;">진행중</td>
              {% endif %}
              <td>{{data.status}}</td>
              <td>{{data.reserv_id}}</td>
              <td>{{data.username}}</td>
              <td>{{data.email}}</td>
              <td>{{data.start_date | date:"Y-m-d"}}</td>
              <td>{{data.end_date | date:"Y-m-d"}}</td>
              {% if data.top.name == None %}
                <td style='background-color:#DBDBDB;'>-</td>
              {% else %}
                <td>{{data.top}}</td>
              {% endif %}
              {% if data.bottom.name == None %}
                <td style='background-color:#DBDBDB;'>-</td>
              {% else %}
                <td>{{data.bottom}}</td>
              {% endif %}
              {% if data.shoes.name == None %}
                <td style='background-color:#DBDBDB;'>-</td>
              {% else %}
                <td>{{data.shoes}}</td>
              {% endif %}
              {% if data.bag.name == None %}
                <td style='background-color:#DBDBDB;'>-</td>
              {% else %}
                <td>{{data.bag}}</td>
              {% endif %}
              <td>{{data.delivery}}</td>
              <td>{{data.address}}</td>
              <td>{{data.amount}}</td>
              <td>{{data.event}}</td>
              <td>{{data.event_date | date:"Y-m-d"}}</td>
              <td>{{data.event_time | time:"H:i"}}</td>
              <td>{{data.message}}</td>
              <td style="width:30px; text-align:center">
                <div class="del-button">
                  <a href="{% url "rental:delpage" data.pk %}">
                    <button>삭제</button>
                  </a>
                </div>
              </td>
            </tr>
          {% endfor %}
        </table>
        <div class="flex-row">
          <div class="flex-column">
            <div class="tocenter" style="margin:20px 0 0 0;">
              <a href="{% url "rental:rental_register" %}">
                <button style="padding: 5px; border:solid 2px green;">예약등록</button>
              </a>
            </div>
          </div>
          <table style="margin:20px 0 0 20px;" border="1">
            <tr style='font-weight:normal; font-size:0.6rem;'>
              <th>ST1</th>
              <td>예약 양식 제출 완료</td>
            </tr>
            <tr style='font-weight:normal; font-size:0.6rem;'>
              <th>ST2</th>
              <td>예약 완료 및 결제 대기</td>
            </tr>
            <tr style='font-weight:normal; font-size:0.6rem;'>
              <th>ST3</th>
              <td>결제 완료</td>
            </tr>
            <tr style='font-weight:normal; font-size:0.6rem;'>
              <th>ST4</th>
              <td>배송 중</td>
            </tr>
            <tr style='font-weight:normal; font-size:0.6rem;'>
              <th>ST5</th>
              <td>배송 완료</td>
            </tr>
            <tr style='font-weight:normal; font-size:0.6rem;'>
              <th>ST6</th>
              <td>반납 완료</td>
            </tr>
            <tr style='font-weight:normal; font-size:0.6rem;'>
              <th>ST7</th>
              <td>입고 완료</td>
            </tr>
          </table>
        </div>
      </div>
    {% else %}
      <div class="tocenter">
        <div class="flex-row" style="width:100%; margin: 30px 0 20px 0; justify-content:space-around;">
          <div style="padding:100px 0 20px 0; font-weight:bold; font-size:2rem;">
            <p>로그인이 필요합니다 :)</p>
          </div>
        </div>
        <div class="flex-row">
          <a style="border:solid 1px; font-size:0.8rem; padding:2px;" href="{% url "users:login" %}">Login</a>
          <div style="width:20px;"></div>
          <a style="border:solid 1px; font-size:0.8rem; padding:2px;" href="{% url "community:index" %}">Go home</a>
          <div style="width:20px;"></div>
          <a style="border:solid 1px; font-size:0.8rem; padding:2px;" href="{% url "community:rental_items" %}">Reservation</a>
        </div>
      </div>
    {% endif %}
    <script src="https://kit.fontawesome.com/2f3227cf14.js" crossorigin="anonymous"></script>
    <script src="{% static "js/main.js" %}"></script>
    <!--jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  </body>

</html>
