{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="{% static 'img/icon/favicon.png' %}"/>
    <link rel="icon" href="{% static 'img/sterun_icon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sterna.css' %}"/>

    <title>STERUN-ADMIN</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.0.0/css/bootstrap-datetimepicker.min.css" rel="stylesheet"/>
    <style>
      tr th {
        border: solid 1px grey;
      }

      tr td {
        border: solid 1px grey;
      }
    </style>
  </head>

  <body>
    {% if user.is_staff %}
      <div class="tocenter">
        <div class="flex-row" style="width:100%; margin: 30px 0 20px 0; justify-content:space-around;">
          <div style="width:10px;"></div>
          <div>
            <p>전체 데이터</p>
          </div>
          <div class="flex-row">
            <a style="border:solid 1px; font-size:0.8rem; padding:2px; margin:10px;" href="{% url "community:index" %}">Go home</a>
            <div style="width:20px;"></div>
            <a style="border:solid 1px; font-size:0.8rem; padding:2px; margin:10px;" href="{% url "community:rental_items" %}">Reservation</a>
            <div style="width:20px;"></div>
            <a style="border:solid 1px; font-size:0.8rem; padding:2px; margin:10px;" href="http://127.0.0.1:8000/admin/events/guestrun/" target="_blank">Edit data</a>
          </div>
        </div>
      </div>

      <div>
        <table border="1px solid black" bordercolor="green" style="font-size:0.6rem; width:100%;">
          <tr style="background-color:black; color:white;">
            <th scope="col" style="width:30px; text-align:center">종료여부</th>
            <th scope="col">상태</th>
            <th scope="col">예약번호</th>
            <th scope="col">이벤트명</th>
            <th scope="col">담당자</th>
            <th scope="col">시작날짜</th>
            <th scope="col">종료날짜</th>
            <th scope="col">시작시간</th>
            <th scope="col">종료시간</th>
            <th scope="col">스타트 포인트</th>
            <th scope="col">레벨</th>
            <th scope="col">루트</th>
            <th scope="col">가격</th>
          </tr>
          {% for data in events %}
            <tr>
              {% if data.completed == True %}
                <td style="color:white; font-weight:bold; background-color:grey; text-align:center;">완료</td>
              {% else %}
                <td style="color:green; font-weight:bold; text-align:center;">진행중</td>
              {% endif %}
              {% if data.status == "ST1" %}
                <td style="color:orange;">{{data.status}}</td>
              {% elif data.status == "ST2" %}
                <td style="color:green;">{{data.status}}</td>
              {% elif data.status == "ST3" %}
                <td style="color:blue;">{{data.status}}</td>
              {% else %}
                <td style="color:grey;">{{data.status}}</td>
              {% endif %}

              <td>{{data.event_id}}</td>
              <td>{{data.title}}</td>
              <td>{{data.manager}}</td>
              <td>{{data.start_date | date:"Y-m-d"}}</td>
              <td>{{data.end_date | date:"Y-m-d"}}</td>
              <td>{{data.start_time | time:"H:i"}}</td>
              <td>{{data.end_time | time:"H:i"}}</td>
              <td>{{data.start_point}}</td>
              <td>{{data.level}}</td>
              <td>{{data.route}}</td>
              <td>{{data.amount}}</td>
            </tr>
          {% endfor %}
        </table>

      </div>
    {% else %}
      <div class="tocenter">
        <div class="flex-row" style="width:100%; margin: 30px 0 20px 0; justify-content:space-around;">
          <div style="padding:100px 0 20px 0; font-weight:bold; font-size:2rem;">
            <p>로그인이 필요합니다 :)</p>
          </div>
        </div>
        <div class="flex-row">
          <a style="border:solid 1px; font-size:0.8rem; padding:2px;" href="{% url "users:login" %}">Login</a>
          <div style="width:20px;"></div>
          <a style="border:solid 1px; font-size:0.8rem; padding:2px;" href="{% url "community:index" %}">Go home</a>
          <div style="width:20px;"></div>
          <a style="border:solid 1px; font-size:0.8rem; padding:2px;" href="{% url "community:rental_items" %}">Reservation</a>
        </div>
      </div>
    {% endif %}
    <script src="https://kit.fontawesome.com/2f3227cf14.js" crossorigin="anonymous"></script>
    <script src="{% static "js/main.js" %}"></script>
    <!--jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  </body>

</html>
