{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="overlay-menu-mobie">
    <div class="close-btn">
      <span class="close-menus"></span>
    </div>
  </div>

  <!-- Widget-about -->
  <div class="tf-widget-about-us main-content">
    <div class="themeflat-container">
      <div class="tf-about-us">
        <div class="row">
          <div class="col-md-6 image-wraper">
            <div class="media">
              <div class="media-v1">
                <img class="mask-media wow fadeInLeft animated" src="{% static "img/about/mask1.png" %}" alt="image">
                <img class="shape-media wow fadeInRight animated" src="{% static "img/about/graphic.png" %}" alt="image">
              </div>
              <img src="{% static "img/about/mask2.png" %}" alt="image" class="image-gr wow fadeInRight animated">
              <img src="{% static "img/about/Intersect.png" %}" alt="image" class="intersect-img">
            </div>
          </div>
          <div class="col-md-6">
            <div class="about-box">
              <img src="{% static "img/about/graphic-box.png" %}" alt="image shape">
              <!-- header style v1 -->
              <div class="title-box title-small-v2">
                <span class="sub-title wow fadeInUp animated">Welcome to runclub!</span>
                <h2 class="title-section wow fadeInUp animated">STERUN - Your Ultimate Running Community
                </h2>
              </div>
              <!-- header style v1 -->
              <p class="post wow fadeInUp animated">
                Welcome to our vibrant running community, where we organize exciting running events, provide helpful running tutorials, and keep you informed with the latest running news.
              </p>
              <div class="line"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Widget-about -->

  <div class="tf-widget-mission main-content">
    <div class="themeflat-container">
      <div class="row">
        <div class="col-md-12 col-lg-7">
          <div class="image-mission-wrap">
            <img src="{% static "img/about/tab1.jpg" %}" alt="Image" class="image-v1 wow fadeInRight animated">
            <img src="{% static "img/about/tab2.jpg" %}" alt="Image" class="image-v2 wow fadeInLeft animated">
          </div>
        </div>
        <div class="col-md-12 col-lg-5">
          <div class="mission-content">
            <div class="mission-trust">
              <ul>
                <li class="wow fadeInUp animated" data-wow-delay="0.1s">
                  <img src="{% static "img/about/1.png" %}" alt="">
                </li>
                <li class="wow fadeInUp animated" data-wow-delay="0.2s">
                  <img src="{% static "img/about/2.png" %}" alt="">
                </li>
                <li class="wow fadeInUp animated" data-wow-delay="0.3s">
                  <img src="{% static "img/about/3.png" %}" alt="">
                </li>
                <li class="wow fadeInUp animated" data-wow-delay="0.4s">
                  <img src="{% static "img/about/4.png" %}" alt="">
                </li>
                <li class="wow fadeInUp animated" data-wow-delay="0.5s">
                  <div class="number-m">5m</div>
                </li>
              </ul>
              <span class="wow fadeInUp animated">Trusted by 50M+ People around the globe</span>
            </div>
            <div class="mission-tab">
              <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <h4 class="nav-link active">our Mission</h4>

                </div>
              </nav>

              <p class="post wow fadeInUp animated" style="margin-bottom:10px; color:var(--secondary);">
                Our objective for this project was to develop a comprehensive financial management platform that provided users with a centralized dashboard for managing their finances.
              </p>
              <ul>
                <li class="wow fadeInUp animated mission-list" data-wow-delay="0.1s">
                  <span>
                    <svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M10 0C4.48438 0 0 4.48438 0 10C0 15.5156 4.48438 20 10 20C15.5156 20 20 15.5156 20 10C20 4.48438 15.5156 0 10 0Z" fill="#C3E92D"/>
                      <path d="M14.4776 6.9806L14.4776 6.98061L14.4804 6.98344C14.5274 7.03036 14.5274 7.11222 14.4804 7.15914L8.62106 13.0185C8.59595 13.0436 8.56393 13.0557 8.5332 13.0557C8.50248 13.0557 8.47045 13.0436 8.44535 13.0185L5.51566 10.0888C5.46874 10.0419 5.46874 9.96005 5.51566 9.91312C5.56259 9.8662 5.64444 9.8662 5.69137 9.91312L8.17965 12.4014L8.5332 12.755L8.88676 12.4014L14.3047 6.98344L14.3047 6.98345L14.3075 6.9806C14.3538 6.93355 14.4313 6.93355 14.4776 6.9806Z" fill="#121212" stroke="#121212"/>
                    </svg>
                    <span class="mission-text">Identification of monthly income</span>
                  </span>
                </li>
                <li class="wow fadeInUp animated mission-list" data-wow-delay="0.2s">
                  <span>
                    <svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M10 0C4.48438 0 0 4.48438 0 10C0 15.5156 4.48438 20 10 20C15.5156 20 20 15.5156 20 10C20 4.48438 15.5156 0 10 0Z" fill="#C3E92D"/>
                      <path d="M14.4776 6.9806L14.4776 6.98061L14.4804 6.98344C14.5274 7.03036 14.5274 7.11222 14.4804 7.15914L8.62106 13.0185C8.59595 13.0436 8.56393 13.0557 8.5332 13.0557C8.50248 13.0557 8.47045 13.0436 8.44535 13.0185L5.51566 10.0888C5.46874 10.0419 5.46874 9.96005 5.51566 9.91312C5.56259 9.8662 5.64444 9.8662 5.69137 9.91312L8.17965 12.4014L8.5332 12.755L8.88676 12.4014L14.3047 6.98344L14.3047 6.98345L14.3075 6.9806C14.3538 6.93355 14.4313 6.93355 14.4776 6.9806Z" fill="#121212" stroke="#121212"/>
                    </svg>
                    <span class="mission-text">Creation of savings and investment plan</span>
                  </span>
                </li>
                <li class="wow fadeInUp animated mission-list" data-wow-delay="0.3s">
                  <span>
                    <svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M10 0C4.48438 0 0 4.48438 0 10C0 15.5156 4.48438 20 10 20C15.5156 20 20 15.5156 20 10C20 4.48438 15.5156 0 10 0Z" fill="#C3E92D"/>
                      <path d="M14.4776 6.9806L14.4776 6.98061L14.4804 6.98344C14.5274 7.03036 14.5274 7.11222 14.4804 7.15914L8.62106 13.0185C8.59595 13.0436 8.56393 13.0557 8.5332 13.0557C8.50248 13.0557 8.47045 13.0436 8.44535 13.0185L5.51566 10.0888C5.46874 10.0419 5.46874 9.96005 5.51566 9.91312C5.56259 9.8662 5.64444 9.8662 5.69137 9.91312L8.17965 12.4014L8.5332 12.755L8.88676 12.4014L14.3047 6.98344L14.3047 6.98345L14.3075 6.9806C14.3538 6.93355 14.4313 6.93355 14.4776 6.9806Z" fill="#121212" stroke="#121212"/>
                    </svg>
                    <span class="mission-text">
                      Management and calculation of monthly expenses</span>
                  </span>
                </li>
                <span>
                  <svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10 0C4.48438 0 0 4.48438 0 10C0 15.5156 4.48438 20 10 20C15.5156 20 20 15.5156 20 10C20 4.48438 15.5156 0 10 0Z" fill="#C3E92D"/>
                    <path d="M14.4776 6.9806L14.4776 6.98061L14.4804 6.98344C14.5274 7.03036 14.5274 7.11222 14.4804 7.15914L8.62106 13.0185C8.59595 13.0436 8.56393 13.0557 8.5332 13.0557C8.50248 13.0557 8.47045 13.0436 8.44535 13.0185L5.51566 10.0888C5.46874 10.0419 5.46874 9.96005 5.51566 9.91312C5.56259 9.8662 5.64444 9.8662 5.69137 9.91312L8.17965 12.4014L8.5332 12.755L8.88676 12.4014L14.3047 6.98344L14.3047 6.98345L14.3075 6.9806C14.3538 6.93355 14.4313 6.93355 14.4776 6.9806Z" fill="#121212" stroke="#121212"/>
                  </svg>
                  <span class="mission-text">Management and calculation of monthly expenses</span>
                </span>
              </li>
            </ul>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- banner-paralax -->
<div class="tf-widget-banner">
  <div class="themeflat-container">
    <div class="tf-banne-paralax">
      <h2 class="title-banner wow fadeInUp animated" style="color:white;">
        Join our running club now
      </h2>
      <span class="sale wow fadeInUp animated">-20%</span>
      <div style="margin:20px 0 40px 0;">
        <div class="title-banner wow fadeInUp animated" style="color:white; font-size:70px;">
          Join Geust Run Now
        </div>
      </div>
      <a href="{% url "community:events" %}" class="flat-button wow fadeInUp animated">Join now</a>
    </div>
  </div>
</div>
<!-- banner-paralax -->

<!-- Team-member -->
<div class="tf-widget-team main-content">
  <div class="themeflat-container">
    <div class="team-member">
      <div class="title-box title-small center-title-box">
        <span class="sub-title wow fadeInUp animated">Our team</span>
        <h2 class="title-section wow fadeInUp animated">Our Member, Manager</h2>
      </div>
      <div class="row team">
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
          <div class="team-item wow fadeInUp animated" data-wow-delay="0.1s">
            <div class="team-image">
              <img src="{% static "img/member/team1.jpg" %}" alt="Team member">

              <div class="shape-team"></div>
            </div>
            <h3 class="name-member">Katie Han</h3>
            <h4 class="job">Co - Founder STERUN</h4>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
          <div class="team-item wow fadeInUp animated" data-wow-delay="0.3s">
            <div class="team-image">
              <img src="{% static "img/member/team2.jpg" %}" alt="Team member">
              <div class="team-social">
                <ul>
                  <li>
                    <a href="">
                      <i class="icon-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <i class="icon-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="youtube.com">
                      <i class="icon-youtube"></i>
                    </a>
                  </li>
                </ul>

              </div>
              <div class="shape-team"></div>
            </div>
            <h3 class="name-member">Jason Kim</h3>
            <h4 class="job">Manager</h4>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
          <div class="team-item wow fadeInUp animated" data-wow-delay="0.5s">
            <div class="team-image">
              <img src="{% static "img/member/team3.jpg" %}" alt="Team member">
              <div class="team-social">
                <ul>
                  <li>
                    <a href="">
                      <i class="icon-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <i class="icon-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="youtube.com">
                      <i class="icon-youtube"></i>
                    </a>
                  </li>
                </ul>

              </div>
              <div class="shape-team"></div>
            </div>
            <h3 class="name-member">Jay Lee</h3>
            <h4 class="job">Coach</h4>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
          <div class="team-item wow fadeInUp animated" data-wow-delay="0.7s">
            <div class="team-image">
              <img src="{% static "img/member/team4.jpg" %}" alt="Team member">
              <div class="team-social">
                <ul>
                  <li>
                    <a href="">
                      <i class="icon-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <i class="icon-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="youtube.com">
                      <i class="icon-youtube"></i>
                    </a>
                  </li>
                </ul>

              </div>
              <div class="shape-team"></div>
            </div>
            <h3 class="name-member">jenifer Kang</h3>
            <h4 class="job">Co - Founder STERUN</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Team-member -->

<!-- Widget form conatct-->
<div class="tf-widget-form-contact">
  <div class="themeflat-container">
    <div class="tf-form-contact">
      <div class="row">
        <div class="col-md-6 pd-form">
          <img style="height:100%; width:100%; object-fit:cover; object-position:left;" src="{% static "img/background/contact-2.jpg" %}" alt="">
        </div>
        <div class="col-md-6 pd-form">
          <div class="form-contact background-black">
            <div class="heading-register">
              <h2 class="title-register">Contact Us</h2>
            </div>
            <div class="list-contact">
              <div class="contact">
                <span>
                  Phone:
                </span>
                <p class="address">(555) 123-4567</p>
              </div>
              <div class="contact">
                <span>
                  Email:
                </span>
                <p class="address">sterun@joollab.com</p>
              </div>
            </div>
            <ul class="social-media">
              <li>
                <a href="twitter.com">
                  <i class="fa-brands fa-x-twitter"></i>
                </a>
              </li>
              <li>
                <a href="dribbble.com">
                  <i class="icon-youtube"></i>
                </a>
              </li>
              <li>
                <a href="behance.com">
                  <i class="icon-instagram"></i>
                </a>
              </li>
              <li>
                <a href="pinterest">
                  <i class="fa-brands fa-spotify"></i>
                </a>
              </li>
            </ul>
            <div class="form-register">
              <form action="{% url "community:inquiry" %}" method="post" id="registerform" class="register-form" novalidate="">
                {% csrf_token %}
                <fieldset class="name-container">
                  <input type="text" id="author" placeholder="Your name*" class="tb-my-input" name="username" value="" size="32" aria-required="true">
                </fieldset>
                <fieldset class="email-container">
                  <input type="text" id="email" placeholder="Your email*" class="tb-my-input" name="email" value="" size="32" aria-required="true">
                </fieldset>
                <fieldset class="about-container">
                  <select name="category" id="category" class="tb-my-input" aria-required="true">
                    <option value="CG1">About Event</option>
                    <option value="CG2">About Rental Items</option>
                    <option value="CG3">About Business</option>
                    <option value="CG4">Others</option>
                  </select>
                </fieldset>
                <fieldset class="shortq-container">
                  <input type="text" id="shortq" placeholder="Short Qeustion*" class="tb-my-input" name="shortq" value="" size="32" aria-required="true">
                </fieldset>
                <p class="form-submit">
                  <input name="submit" type="submit" id="comment-reply" class="submit-register" value="Submit">
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="graphic-form background-green"></div>
<!-- Widget form conatct-->

{% endblock content %}
