{% extends "base.html" %}
{% load static %}
{% block content %}

  <div class="overlay-menu-mobie">
    <div class="close-btn">
      <span class="close-menus"></span>
    </div>
  </div>

  <!-- Rental Service -->
  <div class="tf-widget-benefit-v2">
    <div class="themeflat-container">
      <div class="tf-benefit-v2">
        <div class="title-box-v1 center-title-box title-large">
          <span class="sub-title wow fadeInUp animated animated" style="visibility: visible; animation-name: fadeInUp;">Running Gear Rental Service</span>
          <h2 class="title-section wow fadeInUp animated">How to use the rental service</h2>
        </div>
        <!-- header style v2 -->
        <div class="row benefit-v2">
          <div class="col-12 col-sm-6 col-md-6 col-lg-3">
            <div class="benefit-item-v2 wow fadeInUp animated benefit-card" data-wow-delay="0.1s">
              <div class="benefit-number">
                <span class="number">01</span>
              </div>
              <div class="line-benefit"></div>
              <div class="box-content-benefit">
                <h6 class="title-benefit">Submit a Form</h6>
                <p class="description-benefit">Running makes your heart stronger and helps it pump blood better, which keeps your heart healthy.</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-3">
            <div class="benefit-item-v2 wow fadeInUp animated benefit-card" data-wow-delay="0.3s">
              <div class="benefit-number">
                <span class="number">02</span>
              </div>
              <div class="line-benefit"></div>
              <div class="box-content-benefit">
                <h6 class="title-benefit">Check the reservation</h6>
                <p class="description-benefit">Running releases chemicals in your brain that make you feel happier and less stressed.</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-3">
            <div class="benefit-item-v2 wow fadeInUp animated benefit-card" data-wow-delay="0.5s">
              <div class="benefit-number">
                <span class="number">03</span>
              </div>
              <div class="line-benefit"></div>
              <div class="box-content-benefit">
                <h6 class="title-benefit">Using items</h6>
                <p class="description-benefit">Running burns calories, which helps you lose weight or keep a healthy weight.</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-3">
            <div class="benefit-item-v2 wow fadeInUp animated benefit-card" data-wow-delay="0.7s">
              <div class="benefit-number">
                <span class="number">04</span>
              </div>
              <div class="line-benefit"></div>
              <div class="box-content-benefit">
                <h6 class="title-benefit">Returning items</h6>
                <p class="description-benefit">Running makes your bones and joints stronger, reducing the chances of injuries and conditions like osteoporosis.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Rental Service -->

  <!-- Start Pricing Table Style 2 -->
  <section class="pp-section section-bg wow fadeInUp animated">
    <div class="container">
      <div class="title-box-v1 center-title-box title-large">
        <span class="sub-title wow fadeInUp animated animated" style="visibility: visible; animation-name: fadeInUp;">Premium Products Rental Price
        </span>
        <h2 class="title-section wow fadeInUp animated">Price Table</h2>
      </div>
      <div class="row plan-tables-2 justify-content-md-center">
        <!-- Plan Detail -->
        <div class="col-lg-2 p-0 detail-block">
          <div class="plan-detail-style-2">
            <!-- Plan Head -->
            <div class="plan-header">
              <h4 class="plan-title" style="font-size:20px;">Rental Items</h4>
            </div>
            <!-- Detail List -->
            <ul class="plan-detail">
              <li>1 Day</li>
              <li>+ 1 Day</li>
              <li>Max 5 Days</li>
            </ul>
          </div>
        </div>
        <!-- End Plan Detail-->
        <!-- Single Plan -->
        <div class="col-lg-2 col-md-3 col-sm-6 plan-padding">
          <div class="plan-style-2">
            <!-- Plan Head -->
            <div class="plan-header">
              <div>
                <img src="{% static "img/icon/shoe-white.svg" %}" class="img-fluid" style="color:white;" width="35" alt="shoes">
              </div>
              <h4 class="plan-title">
                Running Shoes
              </h4>
            </div>
            <!-- Plan List -->
            <ul class="plan-list light-skin">
              <li>10$<p>1 Day</p>
              </li>
              <li>3$<p>+ 1 Day</p>
              </li>
              <li>20$<p>Max 5 Days</p>
              </li>
            </ul>
          </div>
        </div>
        <!-- End Single Plan-->
        <!-- Single Plan -->
        <div class="col-lg-2 col-md-3 col-sm-6 plan-padding">
          <div class="plan-style-2">
            <!-- Plan Head -->
            <div class="plan-header">
              <div>
                <img src="{% static "img/icon/tshirt-white.svg" %}" class="img-fluid" style="color:white;" width="35" alt="shoes">
              </div>
              <h4 class="plan-title">
                Top
              </h4>
            </div>
            <!-- Plan List -->
            <ul class="plan-list dark-skin">
              <li>5$<p>1 Day</p>
              </li>
              <li>2$<p>+ 1 Day</p>
              </li>
              <li>10$<p>Max 5 Days</p>
              </li>
            </ul>
          </div>
        </div>
        <!-- End Single Plan-->
        <!-- Single Plan -->
        <div class="col-lg-2 col-md-3 col-sm-6 plan-padding">
          <div class="plan-style-2">
            <!-- Plan Head -->
            <div class="plan-header">
              <div>
                <img src="{% static "img/icon/shorts-white.svg" %}" class="img-fluid" style="color:white;" width="35" alt="shoes">
              </div>
              <h4 class="plan-title">
                Bottom
              </h4>
            </div>
            <!-- Plan List -->
            <ul class="plan-list light-skin">
              <li>5$<p>1 Day</p>
              </li>
              <li>2$<p>+ 1 Day</p>
              </li>
              <li>10$<p>Max 5 Days</p>
              </li>
            </ul>
          </div>
        </div>
        <!-- End Single Plan-->
        <!-- Single Plan -->
        <div class="col-lg-2 col-md-3 col-sm-6 plan-padding">
          <div class="plan-style-2">
            <!-- Plan Head -->
            <div class="plan-header">
              <div>
                <img src="{% static "img/icon/belt_pouch-white.svg" %}" class="img-fluid" style="color:white;" width="35" alt="shoes">
              </div>
              <h4 class="plan-title">
                Phone Pouch
              </h4>
            </div>
            <!-- Plan List -->
            <ul class="plan-list dark-skin">
              <li>3$<p>1 Day</p>
              </li>
              <li>1$<p>+ 1 Day</p>
              </li>
              <li>5$<p>Max 5 Days</p>
              </li>
            </ul>
          </div>
        </div>
        <!-- End Single Plan-->
      </div>
    </div>
  </section>
  <div style="height:100px;"></div>
  <div class="tocenter">
    <a href="{% url "rental:rental_register" %}" class="big-button wow fadeInUp animated">Go For Reservation</a>
  </div>

  <div style="height:70px;"></div>
  <!-- End Pricing Table Style 2 -->

{% endblock content %}