{% extends "base.html" %}
{% load static %}
{% block content %}

  <!-- Shoes Size Modal start -->
  <div class="modal fade" style="z-index:1000000;" id="ShoesSizeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header" style="background-color: var(--primary);">
          <h5 class="modal-title" id="exampleModalLabel">Shoes Size Info</h5>
          <button type="button" data-bs-dismiss="modal" style="background-color: transparent; font-weight: 500; font-size: 1.3rem;" aria-label="Close">X</button>
        </div>
        <div class="modal-body">
          <table class="table" style="border:solid gery 1px; text-align:center;">
            <thead>
              <tr>
                <th scope="col" colspan="2">KR(mm)</th>
                <td scope="col">220</td>
                <td scope="col">225</td>
                <td scope="col">230</td>
                <td scope="col">235</td>
                <td scope="col">240</td>
                <td scope="col">245</td>
                <td scope="col">250</td>
                <td scope="col">255</td>
                <td scope="col">260</td>
                <td scope="col">265</td>
                <td scope="col">270</td>
                <td scope="col">275</td>
                <td scope="col">280</td>
                <td scope="col">285</td>
                <td scope="col">290</td>
                <td scope="col">299</td>
                <td scope="col">300</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row" colspan="2">JP(cm)</th>
                <td>22</td>
                <td>22.5</td>
                <td>23</td>
                <td>23.5</td>
                <td>24</td>
                <td>24.5</td>
                <td>25</td>
                <td>25.5</td>
                <td>26</td>
                <td>26.5</td>
                <td>27</td>
                <td>27.5</td>
                <td>28</td>
                <td>28.5</td>
                <td>29</td>
                <td>29.5</td>
                <td>30</td>
              </tr>
              <tr>
                <th scope="row" rowspan="2">International</th>
                <th scope="row">Male</th>
                <td>-</td>
                <td>-</td>
                <td colspan="2">XXXS</td>
                <td colspan="2">XXS</td>
                <td colspan="2">XS</td>
                <td colspan="2">S</td>
                <td colspan="2">M</td>
                <td colspan="2">L</td>
                <td colspan="2">XL</td>
                <td>XXL</td>
              </tr>
              <tr>
                <th scope="row">Femail</th>
                <td colspan="2">XXXS</td>
                <td colspan="2">XXS</td>
                <td colspan="2">XS</td>
                <td colspan="2">S</td>
                <td colspan="2">M</td>
                <td colspan="2">L</td>
                <td colspan="2">XL</td>
                <td colspan="2">XXL</td>
                <td>-</td>
              </tr>
              <tr>
                <th scope="row" rowspan="2">US</th>
                <th scope="row">Male</th>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>6</td>
                <td>6.5</td>
                <td>7</td>
                <td>7.5</td>
                <td>8</td>
                <td>8.5</td>
                <td>9</td>
                <td>9.5</td>
                <td>10</td>
                <td>10.5</td>
                <td>11</td>
                <td>11.5</td>
                <td>12</td>
              </tr>
              <tr>
                <th scope="row">Femail</th>
                <td>5</td>
                <td>5.5</td>
                <td>6</td>
                <td>6.5</td>
                <td>7</td>
                <td>7.5</td>
                <td>8</td>
                <td>8.5</td>
                <td>9</td>
                <td>9.5</td>
                <td>10</td>
                <td>10.5</td>
                <td>11</td>
                <td>11.5</td>
                <td>12</td>
                <td>12.5</td>
                <td>13</td>
              </tr>
              <tr>
                <th scope="row" rowspan="2">UK</th>
                <th scope="row">Male</th>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>5</td>
                <td>-</td>
                <td>6</td>
                <td>-</td>
                <td>7</td>
                <td>7.5</td>
                <td>8</td>
                <td>8.5</td>
                <td>9</td>
                <td>9.5</td>
                <td>10</td>
                <td>10.5</td>
                <td>11</td>
              </tr>
              <tr>
                <th scope="row">Femail</th>
                <td>3</td>
                <td>3.5</td>
                <td>4</td>
                <td>4.5</td>
                <td>5</td>
                <td>5.5</td>
                <td>6</td>
                <td>6.5</td>
                <td>7</td>
                <td>7.5</td>
                <td>8</td>
                <td>8.5</td>
                <td>9</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
              </tr>
              <tr>
                <th scope="row" rowspan="2">EU</th>
                <th scope="row">Male</th>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>38</td>
                <td>-</td>
                <td>39</td>
                <td>-</td>
                <td>40.5</td>
                <td>41</td>
                <td>42</td>
                <td>42.5</td>
                <td>43</td>
                <td>44</td>
                <td>44.5</td>
                <td>45.5</td>
                <td>46</td>
              </tr>
              <tr>
                <th scope="row">Femail</th>
                <td>36</td>
                <td>36.5</td>
                <td>37</td>
                <td>37.5</td>
                <td>38</td>
                <td>38.5</td>
                <td>39</td>
                <td>39.5</td>
                <td>40</td>
                <td>40.5</td>
                <td>41</td>
                <td>41.5</td>
                <td>42</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="overlay-menu-mobie">
    <div class="close-btn">
      <span class="close-menus"></span>
    </div>
  </div>
  <!-- Shoes Size Modal end -->
  <!-- Top Size Modal start -->
  <div class="modal fade" style="z-index:1000000;" id="TopSizeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header" style="background-color: var(--primary);">
          <h5 class="modal-title" id="exampleModalLabel">Top Size Info</h5>
          <button type="button" data-bs-dismiss="modal" style="background-color: transparent; font-weight: 500; font-size: 1.3rem;" aria-label="Close">X</button>
        </div>
        <div class="modal-body">
          <h4 style="margin-bottom:10px;">MAN</h4>
          <table class="table" style="border:solid gery 1px; text-align:center;">
            <thead>
              <tr>
                <th scope="col">Category</th>
                <th scope="col">KO</th>
                <th scope="col" colspan="2">US</th>
                <th scope="col">UK</th>
                <th scope="col" colspan="2">JP</th>
                <th scope="col">FR</th>
                <th scope="col">EU</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">XS</th>
                <td>85</td>
                <td>85-90</td>
                <td>14</td>
                <td>0</td>
                <td>S</td>
                <td>36</td>
                <td>40</td>
                <td>44-46</td>
              </tr>
              <tr>
                <th scope="row">S</th>
                <td>90</td>
                <td>90-95</td>
                <td>15</td>
                <td>1</td>
                <td>M</td>
                <td>38</td>
                <td>42,44</td>
                <td>46</td>
              </tr>
              <tr>
                <th scope="row">M</th>
                <td>95</td>
                <td>95-100</td>
                <td>15.5-16</td>
                <td>2</td>
                <td>L</td>
                <td>40</td>
                <td>46,48</td>
                <td>48</td>
              </tr>
              <tr>
                <th scope="row">L</th>
                <td>100</td>
                <td>100-105</td>
                <td>16.5</td>
                <td>3</td>
                <td>LL,XL</td>
                <td>42</td>
                <td>50,52</td>
                <td>50</td>
              </tr>
              <tr>
                <th scope="row">XL</th>
                <td>105</td>
                <td>105-110</td>
                <td>17.5</td>
                <td>4</td>
                <td>-</td>
                <td>44</td>
                <td>54,56,58</td>
                <td>52</td>
              </tr>
              <tr>
                <th scope="row">XXL</th>
                <td>110</td>
                <td>110-</td>
                <td>-</td>
                <td>5</td>
                <td>-</td>
                <td>46</td>
                <td>60,62</td>
                <td>54</td>
              </tr>
            </tbody>
          </table>
          <h4 style="margin-bottom:10px;">WOMAN</h4>
          <table class="table" style="border:solid gery 1px; text-align:center;">
            <thead>
              <tr>
                <th scope="col">Category</th>
                <th scope="col">KO</th>
                <th scope="col">US</th>
                <th scope="col">JP</th>
                <th scope="col">UK,AU</th>
                <th scope="col">FR</th>
                <th scope="col">IT</th>
                <th scope="col">EU</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">XS</th>
                <td>44(85)</td>
                <td>2</td>
                <td>44</td>
                <td>4-6</td>
                <td>34</td>
                <td>80</td>
                <td>34</td>
              </tr>
              <tr>
                <th scope="row">S</th>
                <td>55(90)</td>
                <td>4</td>
                <td>55</td>
                <td>8-10</td>
                <td>36,44</td>
                <td>90</td>
                <td>36</td>
              </tr>
              <tr>
                <th scope="row">M</th>
                <td>66(95)</td>
                <td>6</td>
                <td>66</td>
                <td>10-12</td>
                <td>38,48</td>
                <td>95</td>
                <td>38</td>
              </tr>
              <tr>
                <th scope="row">L</th>
                <td>77(100)</td>
                <td>8</td>
                <td>77</td>
                <td>16-18</td>
                <td>40,42</td>
                <td>100</td>
                <td>40</td>
              </tr>
              <tr>
                <th scope="row">XL</th>
                <td>88(105)</td>
                <td>10</td>
                <td>88L</td>
                <td>20-22</td>
                <td>44,46,48</td>
                <td>105</td>
                <td>42</td>
              </tr>
              <tr>
                <th scope="row">XXL</th>
                <td>110</td>
                <td>12</td>
                <td>-</td>
                <td>-</td>
                <td>50,52,54</td>
                <td>110</td>
                <td>44</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="overlay-menu-mobie">
    <div class="close-btn">
      <span class="close-menus"></span>
    </div>
  </div>
  <!-- Top Size Modal end -->
  <!-- Bottom Size Modal start -->
  <div class="modal fade" style="z-index:1000000;" id="BottomSizeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header" style="background-color: var(--primary);">
          <h5 class="modal-title" id="exampleModalLabel">Bottom Size Info</h5>
          <button type="button" data-bs-dismiss="modal" style="background-color: transparent; font-weight: 500; font-size: 1.3rem;" aria-label="Close">X</button>
        </div>
        <div class="modal-body">
          <h4 style="margin-bottom:10px;">MAN</h4>
          <table class="table" style="border:solid gery 1px; text-align:center;">
            <thead>
              <tr>
                <th scope="col">SIZE</th>
                <th scope="col">XXS</th>
                <th scope="col">XS</th>
                <th scope="col">S</th>
                <th scope="col">M</th>
                <th scope="col">L</th>
                <th scope="col">XL</th>
                <th scope="col">2XL</th>
                <th scope="col">3XL</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">WAIST(cm)</th>
                <td><67</td>
                <td>67-73
                </td>
                <td>73-79</td>
                <td>79-85</td>
                <td>85-91</td>
                <td>91-97</td>
                <td>97-104</td>
                <td>104-112</td>
              </tr>
              <tr>
                <th scope="row">HIP(cm)</th>
                <td><81.5</td>
                <td>81.5-86.5
                </td>
                <td>86.5-91.5</td>
                <td>91.5-96.6</td>
                <td>96.5-101.5</td>
                <td>101.5-106.5</td>
                <td>106.5-112</td>
                <td>112-118</td>
              </tr>
            </tbody>
          </table>
          <h4 style="margin-bottom:10px;">WOMAN</h4>
          <table class="table" style="border:solid gery 1px; text-align:center;">
            <thead>
              <tr>
                <th scope="col">SIZE</th>
                <th scope="col">XXS</th>
                <th scope="col">XS</th>
                <th scope="col">S</th>
                <th scope="col">M</th>
                <th scope="col">L</th>
                <th scope="col">XL</th>
                <th scope="col">2XL</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">KO SIZE(cm)</th>
                <td>-</td>
                <td>60</td>
                <td>65</td>
                <td>70</td>
                <td>75</td>
                <td>80</td>
                <td>85</td>
              </tr>
              <tr>
                <th scope="row">WAIST(cm)</th>
                <td>62.5-65.5</td>
                <td>65.5-68.5</td>
                <td>68.5-71.5</td>
                <td>71.5-75.5</td>
                <td>75.5-80.5</td>
                <td>80.5-85.5</td>
                <td>85.5-90.5</td>
              </tr>
              <tr>
                <th scope="row">HIP(cm)</th>
                <td>83.5-86.5</td>
                <td>86.5-89.5</td>
                <td>89.5-92.5</td>
                <td>92.5-96.5</td>
                <td>96.5-101.5</td>
                <td>101.5-106.5</td>
                <td>106.5-111.5</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="overlay-menu-mobie">
    <div class="close-btn">
      <span class="close-menus"></span>
    </div>
  </div>
  <!-- Bottom Size Modal end -->

  <div class="overlay-menu-mobie">
    <div class="close-btn">
      <span class="close-menus"></span>
    </div>
  </div>

  <!-- preloader 2 -->
  <div class="hidden mask">
    <img class="hedden loadingImg" src='https://i.ibb.co/20zw80q/1487.gif'>
  </div>
  <!-- preloader 2 -->

  <!-- Page Title -->
  <div class="page-title">
    <div class="themeflat-container">
      <div class="row">
        <div class="col-md-12">
          <div class="page-title-heading">
            <h1 class="title">Reservation Form</h1>
          </div>

        </div>
        <!-- /.col-md-12 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.page-title -->
  <!-- Main -->
  <main>
    <!-- Contact -->
    <div style="max-width:700px; margin:auto;" class="contact">
      <div class="container">
        <!-- Form -->
        <form method="POST" id="contactForm" name="contactForm">
          {% csrf_token %}

          <div class="col-md-auto" id="mainContent">
            <!-- Personal Details -->
            <div class="row box first">
              <div class="box-header">
                <h3>
                  <strong>1</strong>Personal Details
                </h3>
                <p>Subtitle or short description can be set here.</p>
              </div>
              <div class="col-lg-6 col-md-12">
                <div class="form-group">
                  <label for="username" class="label-title forced">Name</label>
                  <input id="username" class="form-control" name="username" placeholder="Enter Full Name" type="text" required=""/>
                </div>
              </div>
              <div class="col-lg-6 col-md-12">
                <div class="form-group">
                  <label for="email" class="label-title forced">E-mail</label>
                  <input id="email" class="form-control" name="email" placeholder="Enter VALID EMAIL and check the result" type="email" required=""/>
                </div>
              </div>
              <div class="col-lg-12 col-md-12">
                <div class="form-group">
                  <label for="address" class="label-title forced">Place to stay</label>
                  <input id="address" class="form-control" name="address" placeholder="Enter the address of your accommodation" type="text" required=""/>
                </div>
              </div>
            </div>
            <!-- Personal Details End -->

            <!-- Guest Run -->
            <div class="row box first">
              <div class="box-header">
                <h3>
                  <strong>2</strong>Guest Run Ticket
                </h3>
                <p>Subtitle or short description can be set here.</p>
              </div>
              <div class="col-lg-6 col-md-12">
                <div class="form-group">
                  {% for event in events %}
                    <label for="id_event" class="label-title forced">Guest Run</label>
                    <select name="event" class="wide" id="id_event">
                      <option value="{{event.event_id}}" selected="">{{event.title}}</option>
                    </select>
                  {% endfor %}
                </div>
              </div>

            </div>
            <!-- Guest Run End -->

            <!-- Rental Items -->
            <div class="row box first">
              <div class="box-header">
                <h3>
                  <strong>3</strong>Items To Rent
                </h3>
                <p>If you want to rent some running gears, please choice below.</p>
              </div>
              <div class="col-lg-6 col-md-12">
                <div class="form-group">
                  <div class="d-flex justify-content-between">
                    <label for="id_shoes" class="label-title">Running Shoes</label>
                    <!-- Button trigger modal -->
                    <button type="button" class="size-info-button" data-bs-toggle="modal" data-bs-target="#ShoesSizeModal">
                      size info
                    </button>
                  </div>
                  <select name="shoes" class="wide" id="id_shoes">
                    <option value="" selected="">---------</option>
                    <option value="nike-revolution-7-220">KR | Size : 220mm</option>
                    <option value="nike-revolution-7-225">KR | Size : 225mm</option>
                    <option value="nike-revolution-7-230">KR | Size : 230mm</option>
                    <option value="nike-revolution-7-235">KR | Size : 235mm</option>
                    <option value="nike-revolution-7-240">KR | Size : 240mm</option>
                    <option value="nike-revolution-7-245">KR | Size : 245mm</option>
                    <option value="nike-revolution-7-250">KR | Size : 250mm</option>
                    <option value="nike-revolution-7-255">KR | Size : 255mm</option>
                    <option value="nike-revolution-7-260">KR | Size : 260mm</option>
                    <option value="nike-revolution-7-265">KR | Size : 265mm</option>
                    <option value="nike-revolution-7-270">KR | Size : 270mm</option>
                    <option value="nike-revolution-7-275">KR | Size : 275mm</option>
                    <option value="nike-revolution-7-280">KR | Size : 280mm</option>
                    <option value="nike-revolution-7-285">KR | Size : 285mm</option>
                    <option value="nike-revolution-7-290">KR | Size : 290mm</option>
                    <option value="nike-revolution-7-295">KR | Size : 295mm</option>
                    <option value="nike-revolution-7-300">KR | Size : 300mm</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-6 col-md-12">
                <div class="form-group">
                  <label for="id_bag" class="label-title">Phone Pouch</label>
                  <select name="bag" class="wide" id="id_bag">
                    <option value="" selected="">---------</option>
                    <option value="nike-fanny-pack">Nike Fanny Pack</option>
                    <option value="Pocket Arm Band Plus">Pocket Arm Band Plus</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-6 col-md-12">
                <div class="form-group">
                  <div class="d-flex justify-content-between">
                    <label for="id_top" class="label-title">Top</label>
                    <!-- Button trigger modal -->
                    <button type="button" class="size-info-button" data-bs-toggle="modal" data-bs-target="#TopSizeModal">
                      size info
                    </button>
                  </div>
                  <select name="top" class="wide" id="id_top">
                    <option value="" selected="">---------</option>

                    <option value="f-nike-dri-fit-xs">WOMAN | Size : XS</option>
                    <option value="f-nike-dri-fit-s">WOMAN | Size : S</option>
                    <option value="f-nike-dri-fit-m">WOMAN | Size : M</option>
                    <option value="f-nike-dri-fit-l">WOMAN | Size : L</option>
                    <option value="f-nike-dri-fit-xl">WOMAN | Size : XL</option>
                    <option value="f-nike-dri-fit-xxl">WOMAN | Size : XXL</option>
                    <option value="m-nike-dri-fit-legend-xs">MAN | Size : XS</option>
                    <option value="m-nike-dri-fit-legend-s">MAN | Size : S</option>
                    <option value="m-nike-dri-fit-legend-m">MAN | Size : M</option>
                    <option value="m-nike-dri-fit-legend-l">MAN | Size : L</option>
                    <option value="m-nike-dri-fit-legend-xl">MAN | Size : XL</option>
                    <option value="m-nike-dri-fit-legend-xxl">MAN | Size : XXL</option>

                  </select>
                </div>
              </div>
              <div class="col-lg-6 col-md-12">
                <div class="form-group">
                  <div class="d-flex justify-content-between">
                    <label for="id_bottom" class="label-title">Bottom</label>
                    <!-- Button trigger modal -->
                    <button type="button" class="size-info-button" data-bs-toggle="modal" data-bs-target="#BottomSizeModal">
                      size info
                    </button>
                  </div>
                  <select name="bottom" class="wide" id="id_bottom">
                    <option value="" selected="">---------</option>
                    <option value="f-nike-sportswear-ever-xs">WOMAN | Size : XS</option>
                    <option value="f-nike-sportswear-ever-s">WOMAN | Size : S</option>
                    <option value="f-nike-sportswear-ever-m">WOMAN | Size : M</option>
                    <option value="f-nike-sportswear-ever-l">WOMAN | Size : L</option>
                    <option value="f-nike-sportswear-ever-xl">WOMAN | Size : XL</option>
                    <option value="f-nike-sportswear-ever-xxl">WOMAN | Size : XXL</option>
                    <option value="m-nike-dri-fit-academy-xs">MAN | Size : XS</option>
                    <option value="m-nike-dri-fit-academy-s">MAN | Size : S</option>
                    <option value="m-nike-dri-fit-academy-m">MAN | Size : M</option>
                    <option value="m-nike-dri-fit-academy-l">MAN | Size : L</option>
                    <option value="m-nike-dri-fit-academy-xl">MAN | Size : XL</option>
                    <option value="m-nike-dri-fit-academy-xxl">MAN | Size : XXL</option>

                  </select>
                </div>
              </div>
            </div>
            <!-- Rental Items End -->

            <!-- Date & Time -->
            <div class="row box first">
              <div class="box-header">
                <h3>
                  <strong>4</strong>Period for Rental
                </h3>
                <p>Subtitle or short description can be set here.</p>
              </div>
              <div class="col-lg-6 col-md-12">
                <div class="form-group">
                  <label for="id_start_date" class="label-title">Start Date</label>
                  <input type="date" name="start_date" class="form-control-date" required="" id="id_start_date">
                </div>
              </div>
              <div class="col-lg-6 col-md-12">
                <div class="form-group">
                  <label for="id_start_time" class="label-title">Start Time</label>
                  <input type="time" name="start_time" value="00:00" class="form-control-time" id="id_start_time">
                </div>
              </div>
              <div class="col-lg-6 col-md-12">
                <div class="form-group">
                  <label for="id_end_date" class="label-title">End Date</label>
                  <input type="date" name="end_date" class="form-control-date" required="" id="id_end_date">
                </div>
              </div>
              <div class="col-lg-6 col-md-12">
                <div class="form-group">
                  <label for="id_end_time" class="label-title">End Time</label>
                  <input type="time" name="end_time" value="00:00" class="form-control-time" id="id_end_time">
                </div>
              </div>
            </div>
            <!-- Date & Time End -->

            <!-- Message -->
            <div class="row box">
              <div class="box-header">
                <h3>
                  <strong>5</strong>Message
                </h3>
                <p>Subtitle or short description can be set here.</p>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="inputMessage" class="label-title">Note</label>
                  <textarea id="inputMessage" class="form-control" name="message" placeholder="Enter Message" data-parsley-pattern="^[a-zA-Z0-9\s.:,!?']+$"></textarea>
                </div>
              </div>
            </div>
            <!-- Message End -->
            <!-- Terms -->
            <div class="row box">
              <div class="box-header">
                <h3>
                  <strong>6</strong>Submission
                </h3>
                <p>Please accept the terms and conditions below.</p>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <input type="checkbox" id="cbx" class="inp-cbx" style="display:none;" name="terms" value="yes" / required="required">
                  <label class="cbx terms" for="cbx" style="width:auto;">
                    <span>
                      <svg width="12px" height="10px" viewbox="0 0 12 10">
                        <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                      </svg>
                    </span>
                    <span>Accept<a href="pdf/terms.pdf" class="terms-link" target="_blank">Terms and Conditions</a>.</span>
                  </label>
                </div>
              </div>
            </div>
            <!-- Terms End -->
            <!-- Submit-->
            <div class="row box">
              <div class="col-12">
                <div class="form-group">
                  <button type="submit" name="submit" class="btn-form-func" id="submit-form-button">
                    <span class="btn-form-func-content">Submit</span>
                    <span class="icon">
                      <i class="fa fa-paper-plane" aria-hidden="true"></i>
                    </span>
                  </button>
                </div>
              </div>
            </div>
            <!-- Submit -->
          </div>

        </form>
        <!-- Form End -->
      </div>
    </div>
    <!-- Contact End -->
  </main>
  <!-- Main End -->

{% endblock content %}