{% extends "base-sche.html" %}
{% load static %}
{% block content %}

  <!--div class="calender"> {{ YC|safe }} </div-->

  <div class="cal-title">{{year}}년
    {{month}}월</div>
  <div class="btn-wrapper">
    <a href="{% url "schedule:schedule" month|add:-1 user_id %}">
      <div class="btn prev">이전 달</div>
    </a>
    <a href="{% url "schedule:schedule" month_now user_id %}">
      <div class="btn center">이번 달</div>
    </a>
    <a href="{% url "schedule:schedule" month|add:1 user_id %}">
      <div class="btn next">다음 달</div>
    </a>
  </div>
  <table class="calendar">
    <thead>
      <tr class="calendar_header">
        <th>월</th>
        <th>화</th>
        <th>수</th>
        <th>목</th>
        <th>금</th>
        <th style="color:blue;">토</th>
        <th style="color:red;">일</th>
      </tr>
    </thead>
    <tbody>
      {% for value in week_data_dic.values %}
        <tr class="tb-row">
          {% for day in value %}
            <td class="date-cell">
              {% if day.0 != 0 and day.1 != 0 %}
                <div class="date date-event">{{ day.0 }}</div>
              {% elif day.0 != 0 %}
                <div class="date event-empty">{{ day.0 }}</div>
              {% endif %}
              {% if day.1 != 0 %}
                <div class="event-count date-event">+{{day.1}}</div>
              {% else %}
                <div class="event-count event-empty"></div>
              {% endif %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="date-box">
    <span class="infoMonth">-</span>
    <span class="infoDay">-</span>
  </div>

  <div class="sendBtn-purchase">
    <a href="{% url "events:event_write" %}">
      <button class="clckBox purchase-box">
        이벤트 생성
      </button>
    </a>
  </div>

  <div class="sendBtn-cancel">
    <a id="nav-contact" href="{% url "community:contact_us" %}">
      <button class="clckBox cancel-box">
        이벤트 삭제 요청
      </button>
    </a>
  </div>

  <div class='event-info'></div>
  <div class='event-info'></div>
  <div class='event-info'></div>
  <div class='event-info'></div>
  <div class='event-info'></div>

  <form id="dateSelForm" method="POST" action="">
    <input id="monthForm" value="" type="hidden">
    <input id="dayForm" value="" type="hidden">
  </form>

  <script src="{% static 'js/calendar.js' %}"></script>
  <script>
    let month = "{{month|escapejs}}";
    let month_now = "{{month_now|escapejs}}";
    let day_now = "{{day_now|escapejs}}";
    let user_id = "{{user_id|escapejs}}";
    var tableTr = document.getElementsByClassName("date-cell");

    for (var i = 0; i < tableTr.length; i++) {
      try {
        var day = document
          .getElementsByClassName("date")[i]
          .innerHTML;
        if (month == month_now && day == day_now) {
          document
            .getElementsByClassName("date")[i]
            .setAttribute("style", "color:blue; font-weight:bold;");
        }
      } catch (e) {}
    }

    $(document).ready(function () {
      $('.date-cell').click(function () {
        let day = this
          .children[0]
          .textContent;

        $.ajax({
          url: "{% url 'events:eventInfo' %}",
          type: 'GET',
          data: {
            'csrfmiddlewaretoken': '{{csrf_token}}',
            'month': month,
            'day': day,
            'user_id': user_id
          },
          dateType: "json",
          success: function (data) {
            var event = JSON.parse(data['context']);
            var parti = data['participant'];
            console.log(parti)
            event_len = event.length;
            let i = 0;
            const btitle = document.getElementsByClassName('event-info');
            btitle[0].innerHTML = '';
            btitle[1].innerHTML = '';
            btitle[2].innerHTML = '';
            btitle[3].innerHTML = '';
            btitle[4].innerHTML = '';
            if (event_len != 0) {
              while (i < event_len) {
                try {
                  id = event[i].pk;
                  title = event[i].fields.title;
                  start_time = event[i].fields.start_time;
                  end_time = event[i].fields.end_time;
                  start_point = event[i].fields.start_point;
                  lang = event[i].fields.lang;
                  level = event[i].fields.level;
                  route = event[i].fields.route;
                  len_parti = parti[i];
                  const btitle = document.getElementsByClassName('event-info')[i];
                  btitle.innerHTML = '<a href="http://127.0.0.1:8000/participant/' + id + '"' + '><div class="event-ticket"><div class="event-title">' + title + '</div>' + '<div class="event-point">- 참여자: ' + len_parti + ' 명</div>' + '<div class="event-start">- 시간: ' + start_time + "-" + end_time + '</div>' + '<div class="event-route">- 루트: ' + route + '</div>' + '<div class="event-point">- 시작지점: ' + start_point + '</div>' + '<div class="event-level">- 페이스: ' + level + '</div>' + '<div class="event-lang">- 언어: ' + lang + '</div></div></a>';
                } catch (e) {
                  const btitle = document.getElementsByClassName('event-info')[i];
                  btitle.innerHTML = '';
                }
                i++;
              }
            } else {
              const btitle = document.getElementsByClassName('event-info');
              btitle[0].innerHTML = '';
              btitle[1].innerHTML = '';
              btitle[2].innerHTML = '';
              btitle[3].innerHTML = '';
              btitle[4].innerHTML = '';
            }
          }
        })
      })

    })
  </script>

{% endblock %}